@page "/locomotives"
@* @using DCCRailway.Layout.Entities *@
<title>DCCRailway - Locomotives</title>
<h1>Locomotives</h1>
@* <MudDataGrid Items="@Elements.Take(4)"> *@
@* <Columns> *@
@* <PropertyColumn Property="x => x.Number" Title="Nr" /> *@
@* <PropertyColumn Property="x => x.Sign" /> *@
@* <PropertyColumn Property="x => x.Name" /> *@
@* <PropertyColumn Property="x => x.Position" /> *@
@* <PropertyColumn Property="x => x.Molar" Title="Molar mass" /> *@
@* </Columns> *@
@* </MudDataGrid> *@

@* @code { *@
@* private IEnumerable<Locomotive> Elements = new List<Locomotive>(); *@

@* //protected override async Task OnInitializedAsync() *@
@* //{ *@
@* //    Elements = await HttpClient.GetFromJsonAsync<List<Locomotive>>("api/locomotives"); *@
@* //} *@
@* } *@