@page "/locomotives"
@using DCCRailway.Client.Services
@using DCCRailway.Common.Entities
@inject LocomotiveService LocomotiveService

<title>DCCRailway - Locomotives</title>
<h1>Locomotives</h1>
<MudDataGrid Items="@Elements.Take(4)">
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="Nr"/>
        <PropertyColumn Property="x => x.Name" Title="Name"/>
        <PropertyColumn Property="x => x.Description" Title="Description"/>
        <PropertyColumn Property="x => x.Address" Title="Address"/>
    </Columns>
</MudDataGrid>

@code {
    private IEnumerable<Locomotive> Elements = new List<Locomotive>();

    protected override async Task OnInitializedAsync() {
        var result = await LocomotiveService.GetLocomotivesAsync() ?? [];
        Elements = result;
    }

}